html, body{
    margin: 0;
    height: 100%;
    background-color: black;
}

body, #main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container {
    --shadow-size: 15px;
    --padding-size: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--shadow-size);
    box-shadow: inset 0 0 calc(var(--shadow-size) - var(--padding-size)) calc(var(--shadow-size) - var(--padding-size)) black;
    background: conic-gradient(
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
}
#icon {
    width: calc(3*128px);
    height: auto;
    border: none;
    image-rendering: pixelated;
    
    @media (max-width: 999px) { width: calc(2*128px); }
    @media (max-width: 499px) { width: calc(1*128px); }
}

#title {
    color: white;
    font-size: 3vw;
    font-family: 'JetBrains Mono';
    text-decoration: underline #2EC3E3;

    position: relative;
    bottom: 20px;
}
