body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: black;
  background-image: url("/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
