$primary-0: #0041E1;
$primary-1: #5791F3;
$secondary-0: #E55026;
$secondary-1: #E41506;

.root {
  position: absolute;
  top: 10vh;
  left: 10vw;
  // width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;

  .container {
    height: calc(80vh - 50px);
    color: black;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    >* {
      position: absolute;
    }

    .west-border {
      top: 50px;
      left: 0;
      width: 7px;
      height: calc(100% - 50px);
      border-width: 0 0px 0px 4px;
    }

    .south-west-border {
      top: calc(100% - 7px);
      left: 0;
      width: 7px;
      height: 7px;
      border-width: 0 0px 4px 4px;
      border-bottom-left-radius: 5px;
    }

    .south-border {
      top: calc(100% - 7px);
      left: 0;
      width: 100%;
      height: 7px;
      border-width: 0 0px 4px 0px;
    }

    .south-east-border {
      top: calc(100% - 7px);
      left: calc(100% - 7px);
      width: 7px;
      height: 7px;
      border-width: 0 4px 4px 0px;
      border-bottom-right-radius: 5px;
    }

    .east-border {
      top: 50px;
      left: calc(100% - 7px);
      width: 7px;
      height: calc(100% - 50px);
      border-width: 0 4px 0px 0px;
    }

    .west-border,
    .south-border,
    .east-border {
      border-color: $primary-1;
      z-index: 1;
      border-radius: inherit;
    }
    .south-east-border,
    .south-west-border {
      border-color: $primary-1;
      z-index: 2;
    }

    .content {
      top: 50px;
      left: 0;
      width: calc(100% - 14px);
      height: calc(100% - 50px - 12px);
      background-color: white;
      margin: 5px 7px 7px 7px;
      z-index: 3;
    }
  }

  .header {
    display: flex;
    align-items: center;
    padding: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 50px;
    background: linear-gradient($primary-0, $primary-1);
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: white;

    &::before {
      content: "";
      position: absolute;
      top: 0px;
      left: 0;
      width: 100%;
      height: 4px;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      background: radial-gradient(ellipse at center,
          rgba(255, 255, 255, 0.6) 0%,
          rgba(255, 255, 255, 0.4) 50%,
          transparent 100%);
      pointer-events: none;
    }

    .title {
      padding-left: 10px;
      font-size: 1.5em;
    }

    >.controls {
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      padding-right: 10px;

      >button {
        background: linear-gradient($primary-1, $primary-0);
        width: 1.5em;
        height: 1.5em;
        font-size: 1.3em;
        border: solid white 2px;
        border-radius: 5px;
        font-family: 'Courier New', monospace;

        &.minimize {
          display: flex;
          justify-content: center;
          align-items: center;

          div {
            width: calc(0.8em - 1px);
            height: 0;
            border: solid white 2px;
          }
        }

        &.maximize {
          display: flex;
          justify-content: center;
          align-items: center;

          div {
            width: calc(0.8em - 1px);
            height: calc(0.7em - 1px);
            border: solid white 2px;
            border-radius: 5px;
          }
        }

        &.close {
          background: linear-gradient($secondary-0, $secondary-1);
        }
      }
    }
  }
}
