html, body {
  width: 100%;
  height: 100%;
  margin: 0px;

  background: #333333;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 256px;
  margin-bottom: 30px;

  canvas, img {
    width: 100%;
    border-radius: 50%;

    z-index: 1;
  }

  canvas {
    image-rendering: pixelated;
  }
}

.links {
  $width: 350px;

  display: grid;
  grid-template-columns: repeat(3, $width);
  gap: 30px;

  // @media (max-width: calc((2 + 1) * $width + (2 + 2) * 30px)) { grid-template-columns: repeat(2, $width); }
  // @media (max-width: calc((1 + 1) * $width + (1 + 2) * 30px)) { grid-template-columns: repeat(1, $width); }
  // and
  @for $i from 2 through 1 {
    @media (max-width: calc(($i + 1) * $width + ($i + 2) * 30px)) { grid-template-columns: repeat($i, $width); }
  }
}
